{% extends "template.html" %}

{% block content %}
    <h1>Admin Dashboard</h1>
    <br />
    <a href="/dashboard/carreras-list" class="btn btn-large btn-block" type="button">Carreras</a>
    <a href="/dashboard/turno-list" class="btn btn-large btn-block" type="button">Turnos</a>
    <a href="/dashboard/profesor-list" class="btn btn-large btn-block" type="button">Profesores</a>
    <a href="/dashboard/criterios-list" class="btn btn-large btn-block" type="button">Criterios</a>
    <a href="/dashboard/usuarios-list" class="btn btn-large btn-block" type="button">Usuarios</a>
{% endblock %}