{% extends "template.html" %}

{% block content %}
    <h1>Hello World</h1>
    <a href="" id="logIn">Login</a>
        <div class="content-logIn">
            <input type="text" id='username'>
            <input type="password" id="password">
            <div class="message">

            </div>
        </div>
    <div class="Information" hidden>
        <h3>Profile</h3><input type="hidden" value="" id="token"/>
            <div class="content-Profile">
                <ul></ul>
            </div>
        Nombre: <input type="text" value="" id="user-name"/>
        <br>
        <a  href="" id="Carreras">Carreras</a>
            <div class="content-Carreras">
                <select id="ch-carrera"></select>
            </div>
        <a  href="" id="Turnos">Turnos</a>
            <div class="content-Turnos">
                <select id="ch-turnos"></select>
            </div>
        <a  href="" id="Cursos">Completa datos</a>
            <div class="content-Cursos">
                Ciclo: <select id="ch-ciclo">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        </select>
            </div>
        <br/>
        <h3>Curso de Hoy</h3><input type="hidden" value="" id="idCurso"/>
            <div class="content-Saber">
                <ul></ul>
            </div>

        <br/>
        <a  href="" id="Califica">Calificar</a>
            <div class="content-calificar">
                <ul>
                </ul>
            </div>
    </div>
{% endblock %}